:root{
    --subFont:'Mozilla Headline','Times New Roman';
    --mainFont:'Pixelify sans','Times New Roman';
}

body{
    font-family: var(--subFont);
    margin:0;
    padding: 0;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote,dl, fieldset {
  margin: 0;
  padding: 0;
  user-select: none;
}

img {
    cursor: default;
}

h1{
    font-size: 54px;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

ul li{
    list-style: none;
    line-height: 2;
}

button{
    border: none;
    background-color: black;
}

.container{
    width: 100%;
    max-width:1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.FlexDirectionColumn{
    flex-direction: column;
}

.flex{
    display:flex;
}

.AlignEnd{
    align-items: flex-end;
}

.JustifyEnd{
    justify-content: flex-end;
}

.AlignStart{
    align-items: flex-start;
}

.FlexCenter{
    justify-content: center;
    align-items: center;
}

 @media screen and (max-width: 600px){
    .container {
        width: 90%;
    }
 }

 /*...........................Animation...............................*/

.RightLeft, .LeftRight, .UpDown, .DownUp{
    opacity: 0;
}

.RightLeft{
    animation: ToLeft 1s forwards;
    transform: translateX(50%);
}

.LeftRight{
    animation: ToRight 1s forwards;
    transform: translateX(-50%);
}

.DownUp{
    animation: UP 1s forwards;
    transform: translateY(50%);
}

.UpDown{
    animation: ToDown 1s forwards;
    transform: translateY(-50%);
}

 @keyframes ToDown {
    to{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes ToRight {
    to{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes ToLeft {
    to{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes UP {
    to{
        opacity:1;
        transform: translateY(0);
    }
}