@import url("base.css");

/*............................Header..............................*/

header{
    background-color: black;
    padding: 10px 40px;
}

header i{
    font-size: 24px;
    color: #ffffff;
    transition: all 0.8s;
}

header i:hover{
    font-size: 30px;
}

header.row{
    justify-content: flex-end;
}

header button{
    background-color: black;
    cursor: pointer;
}


/*..........................Footer..........................*/


footer{
    background-color: black;
    color: #ffffff;
    padding: 20px 0px;
    font-family: var(--subFont);
}

footer h4{
    color: #ffffff;
}

footer a{
    color: #ffffff;
}

footer .row{
padding: 5px 0px;
}

footer #mail{
    text-decoration:underline;
}
