@import url("base.css");

/*............................Header..............................*/

header{
    padding: 10px 40px;
}

header i{
    font-size: 24px;
    transition: all 0.8s;
    color: white;
}

header i:hover{
    font-size: 30px;
}

header button{
    cursor: pointer;
    background-color: black;
}

/*............................Home Page...............................*/

main{
    font-family: var(--mainFont);
    color: #ff007f;
    padding: 30px;
}

main a{
    font-size: 28px;
    background-color: #ff007f;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.6s;
}

main a:hover{
    font-size: 2rem;
}

main .row.FlexCenter a{
    margin-top: 50px;
}

main .intro{
    gap:20px;
}


@media screen and (max-width: 600px) {
    .choice{
        justify-content: center;
    }
}

/*..........................Rules..............................*/

h2{
    font-size: 44px;
    text-align: center;
    color: #04d9ff;
}

.rules{
    font-size: 24px;
    color: white;
}

.rules li{
    color: #ffffff;
}

/*..........................Footer..........................*/


footer{
    padding: 10px 40px;
}

footer a{
    color: #ffffff;
}

footer .row{
padding: 5px 0px;
}

footer #mail{
    text-decoration:underline;
}
