@import url("base.css");

/*............................Header..............................*/

header{
    padding: 10px 40px;
}

header i{
    font-size: 24px;
    transition: all 0.8s;
    color: white;
}

header i:hover{
    font-size: 30px;
}

header button{
    cursor: pointer;
    background-color: black;
}

/*............................Home Page...............................*/

main{
    font-family: var(--mainFont);
    color: #ff007f;
    padding: 15px;
}

main a{
    font-size: 28px;
    background-color: #ff007f;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px 10px;
    transition: all 0.6s;
}

main a:hover{
    font-size: 2rem;
}

main .row.FlexCenter a{
    margin-top: 15px;
    border-radius: 20px;
}

main .intro{
    gap:20px;
}

.button{
    font-size: 28px;
    background-color: #ff007f;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.6s;
    cursor: pointer;
    font-family: var(--mainFont);
}

main button:hover{
    font-size: 2rem;
}

#RulesBtn{
    margin-top: 40px;
}


@media screen and (max-width: 600px) {
    .choice{
        justify-content: center;
    }
}

/*..........................Rules..............................*/

.rules h1{
    color: #04d9ff;
}

.rules{
    font-size: 24px;
    color: white;
}

.rules li{
    color: #ffffff;
}

/*.........................Board Size Modal...............................*/

.modal{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoardSizeModal{
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius:20px;
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    position: relative;
}

.CloseButtonWrapper{
    position: absolute;
    left: 80px;
    top: 50px;
    
}

.CloseButtonWrapper button{
    color: #f4f6fa;
    font-weight: bold;
    font-size: 36px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: pointer;
}

.DisplayNone{
    display: none;
}

.options select{
    font-size: 28px;
    background-color: #04d9ff;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.6s;
    cursor: pointer;
    font-family: var(--mainFont);
    width: 100px;
    text-align: center;
}

.options .button{
    background-color: #04d9ff;
}

.options{
    gap:20px;
}

/*.........................Board style......................*/


.board {
  display: grid;
  gap: 2px;
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

.cell {
  background-color: white;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.TurnHeading{
    color: #04d9ff;
    text-decoration: none;
}

.game p{
    font-size: 40px;
    text-align: center;
    color: #04d9ff;
}

.game.row{
    align-items: flex-start;
}

.modal .winner{
    width: 50%;
    height: 50%;
    background-color: #ffffff;
}

.modal .winner h2{
    font-size: 40px;
    color: #ff007f;
}

.ResetBoard{
    margin-top: 15px;
}

.PlayingOptions{
    gap:5px;
}

@media screen and (max-width: 800px) {
    .game{
        flex-direction: column;
        justify-content: center;
    }
    .board{
        width: 100% ;
    }
    .PlayerTwo,.PlayerOne{
        width: 100%;
    }
}

/*..........................Footer..........................*/


footer{
    padding: 10px 40px;
}

footer a{
    color: #ffffff;
}

footer .row{
padding: 5px 0px;
}

footer #mail{
    text-decoration:underline;
}
